/************************************************** Header Photographes **************************************************/

.photograph_header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 25px 95px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.photograph_header article h1 {
    color: #D3573C;
    font-weight: 100;
    font-size: 3.4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.photograph_header article h2 {
    color: #901C1C;
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 5px;
}

.photograph_header article h3 {
    font-weight: 100;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.photograph_header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/****************************************************************************************************/

/************************************************** Filtre **************************************************/

.photograph_medias {
    margin: 0 50px;
}

.medias_filter {
    display: flex;
    margin-left: 50px;
}

.medias_filter label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 20px;
}

#filter {
    display: flex;
    flex-direction: column;
    width: 155px;
    height: auto;
    padding: 10px;
    color: #FAFAFA;
    background-color: #901C1C;
    border-radius: 5px;
    position: absolute;
    margin-left: 100px;
    margin-top: 0;
    font-size: 1.2rem;
    list-style-type: none;
}

.open {
    display: flex;
    flex-direction: column;
}

.filter_option {
    padding: 10px 5px;
    color: #FAFAFA;
    background-color: #901C1C;
    border: none;
    font-size: 1.2rem;
    text-align: start;
    z-index: 10;
    cursor: pointer;
}

.filter_select_options {
    display: none;
    flex-direction: column;
}

#date {
    border-top: 1px solid #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
}

.icon_filter {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 10%;
    font-size: 1.4rem;
    color: #FAFAFA;
    z-index: 100;
}

.icon_rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

/****************************************************************************************************/

/************************************************** Medias **************************************************/

.medias_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.media_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 30px 20px;
}

.media_img, .media_video {
    width: 100%;
    height: 330px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.media_description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.media_description h3 {
    font-size: 1.4rem;
    color: #901C1C;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
}

.media_likes span {
    font-size: 1.2rem;
    margin-right: 10px;
}

.liked {
    color: #901C1C;
}

.icon_heart {
    color: #901C1C;
    font-size: 1.4rem;
    cursor: pointer;
}

/****************************************************************************************************/

/************************************************** Lightbox **************************************************/

.lightbox_container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
    z-index: 100;
}

.lightbox_modal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 10px;
}

.lightbox_previous,
.lightbox_next,
.lightbox_close {
    background-color: #FAFAFA;
    color: #901C1C;
    border: none;
    cursor: pointer;
}

.lightbox_previous i,
.lightbox_next i,
.lightbox_close i {
    font-size: 50px;
}

.lightbox_close {
    position: absolute;
    top: 6%;
    right: 6.5%;
}

.lightbox_media img,
.lightbox_media video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.lightbox_title {
    color: #901C1C;
    font-weight: normal;
    font-size: 22px
}

/****************************************************************************************************/

/************************************************** Tag **************************************************/
.tag {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 20px;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 600;
    position: fixed;
    right: 0;
    bottom: 0;
}

.tag_likes {
    display: flex;
    align-items: center;
}

.tag_likes p{
    padding-right: 5px;
}

/****************************************************************************************************/

#contact_modal {
    display: none;
}

.contact_button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    margin: 20px auto;
}

.modal_open {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(231, 231, 231, 0.6);
    z-index: 100;
}

.modal header {
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
    align-items: baseline;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.25rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

.p-error, .p-valide {
    margin: 10px 0;
}

.p-error {
    color: rgba(165, 0, 16, 1);
}

.p-valide {
    color: rgba(0, 129, 73, 1);
}

.border-error {
    border: 2px solid rgba(165, 0, 16, 1);
}

.border-valide {
    border: 2px solid rgba(0, 129, 73, 1);
}